:root{
    --Black: #1C232B;
    --Grey: #6C7289;
    --Cream: #F2EAE2;
    --White: #FFF;
    --Green-500: #3D8168;
    --Green-700: #1A4032;

    --text-preset-1: 700 32px/100% "Fraunces", sans-serif;
    --text-preset-2: 700 14px/110% "Montserrat", sans-serif;
    --text-preset-3: 500 14px/160% "Montserrat", sans-serif;
    --text-preset-4: 500 12px/120% "Montserrat", sans-serif;
    --text-preset-5: 500 13px/120% "Montserrat", sans-serif;

    --spacing-500: 2.5rem;
    --spacing-400: 2rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    --spacing-100: 0.5rem;
    --spacing-50: 0.25rem;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    width: 100dvw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
}

.container{
    width: 95%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: var(--spacing-100);
    background-color: var(--White);
}

.image img{
    width: 100%;
    border-radius: var(--spacing-100) var(--spacing-100) 0 0;
}

.info{
    padding: var(--spacing-400);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.title{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}
.type{
    font: var(--text-preset-4);
    letter-spacing: 5px;
    color: var(--Grey);
    text-transform: uppercase;
}

h1{
    font: var(--text-preset-1);
    color: var(--Black);
}
.description{
    font: var(--text-preset-3);
    color: var(--Grey);
}

.prices{
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}
.price{
    font: var(--text-preset-1);
    color: var(--Green-500);
}
.old-price{
    font: var(--text-preset-5);
    text-decoration: line-through;
    color: var(--Grey);
}

.button{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    gap: var(--spacing-100);
    justify-content: center;
    font: var(--text-preset-2);
    text-decoration: none;
    padding: var(--spacing-200) var(--spacing-400);
    border-radius: var(--spacing-100);
    background-color: var(--Green-500);
    transition: background-color 0.5s ease;
}

.button img{
    width: 18px;
    height: 18px;
}

.button:hover{
    background-color: var(--Green-700);
}

@media (min-width:750px){
    .container{
        max-width: 600px;
        flex-direction: row;
    }
    .image img{
        content: url(./images/image-product-desktop.jpg);
        height: 100%;
        border-radius: var(--spacing-100) 0 0 var(--spacing-100);
    }
    .info{
        max-width: 50%;
        gap: var(--spacing-400); 
    }
}
